:host{
  display:block;
  background-color: lightcyan;
}
.selected-box {
  background-color: antiquewhite;
  border-left: 3px solid blue;
  a {
    display:inline-block;
    width:25px; height:25px;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    color: dimgrey;
    border-radius: 20px;
  }
}
